<div class="row" ng-controller="AreasinventarioCtrl">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Dual Listbox</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    Bootstrap Dual Listbox is a responsive dual listbox widget optimized for Twitter Bootstrap. It works on all modern browsers and on touch devices.
                </p>

                <select ng-options="e.descripcion for e in equipos"
                        multiple
                        ng-model="selections"
                        bs-duallistbox></select>
            </div>{{equipos}}
        </div>
    </div>

</div>

