<div class="wrapper wrapper-content animated fadeInRight" data-ng-controller="EquiposCtrl">
   <!--header de la pagina-->
     <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Caracteristicas especiales</h2>
        </div>
    </div>
    <br />
    <!--resto del contenido de la pagina-->
    <div class="row">
        <div class="col-lg-5">
           <select class="form-control animated fadeInRight" ng-model="accion">
               <option value="">Accion</option>
               <option>Tiempos de mantenimiento</option>
               <option>control de inventario</option>
           </select>
       </div>
    </div><br />
    <div class="row col-lg-12" style="padding-left:0px;">
        <div class="col-lg-3">
            <select class="form-control animated fadeInRight" name="categoria" id="categoria"
                    ng-options="Categoria.nombre for Categoria in data.Categorias track by Categoria.categoriaID"
                    ng-model="catego" ng-change="update(catego.categoriaID)">
                <option value="">Seleccione una categoria</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" name="SubcategoriaEquipo" id="SubcategoriaEquipo"
                    ng-options="Subcategoria.nombre for Subcategoria in data2.Subcategorias track by Subcategoria.subcategoriaID"
                    ng-model="data2.subcategos">
                <option value="">Seleccione una subcategoria</option>
            </select>
        </div>
        <div class="col-lg-4">
            <select class="form-control">
                <option>Seleccione la frecuencia de mantenimiento</option>
                <option>Diario</option>
                <option>Quincenal</option>
                <option>Mensual</option>
                <option>Bimensual</option>
            </select>
        </div>
    </div>
    <br /><br />
    <hr />
    <h3>Tareas</h3>
    <div class="row col-lg-4">
        <ul class="todo-list m-t">
            <li data-ng-repeat="tarea in tareasck">
                <input type="checkbox" value="" name="" class="i-checks" />
                <span class="m-l-xs">{{tarea.nombre}}</span>
            </li>
        </ul>
    </div>
   
    <div class="form-group col-lg-12">
    <hr />
        <div class="col-sm-4 col-sm-offset-2">
            <button type="button" id="btnAddCategoria" data-ng-click="saveEquipo();" class="btn btn-info">Añadir</button>
        </div>
    </div>
</div>
