         
        <div class="wrapper wrapper-content  animated fadeInRight" ng-controller="agileBoard">

            <div class="row">
                <div class="text-center m-t-lg">
                    <div class="ibox-title" style="background:#0a1434; color:white;">
                        <h1><strong>Tablero de Incidencias</strong></h1>                       
                    </div><br />
                </div>
                    <div class="col-lg-4">

                        <div class="ibox">

                            <div class="ibox-content">

                                <h3>Abiertas</h3>
                                                              
                                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="todoList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in todoList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Suspendidas</h3>
                                
                                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="inProgressList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in inProgressList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Atendidas</h3>
                                
                                <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="completedList">
                                    <li class="{{task.statusClass}}-element" ng-repeat="task in completedList">
                                        {{task.content}}
                                        <div class="agile-detail">
                                            <a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                                            <i class="fa fa-clock-o"></i> {{task.date}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            <div class="row">
                <div class="col-lg-12">

                    <h4>
                        Incidencias en serie
                    </h4>

                    <div class="output p-m m white-bg">

                        <h3>Abiertas</h3>
                        {{todoList }}

                        <h3>En proceso</h3>
                        {{inProgressList }}

                        <h3>Cerradas</h3>
                        {{completedList}}

                    </div>
                </div>
            </div>            
        </div>