<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-11">
            <div class="text-center m-t-lg">
                <h1>
                  Incidencias/Soluciones
                </h1>
               
				<div class="ibox-title">
                            <h5>Formulario para levantar incidencia (Ticket)</h5>
                </div>
               
					<div class="ibox-content">
                                               <form class="form-horizontal">
                                

                                                   <div class="form-group">
                                                       <label class="col-lg-2 control-label">Sucursal</label>

                                                       <div class="col-lg-10"><input type="sucursal" placeholder="Sucursal" class="form-control"></div>
                                                   </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Area</label>
                            <div class="col-lg-10"><input type="area" placeholder="Area" class="form-control"> 
									<span class="help-block m-b-none">
									Es el numero telefonico con que te registraste
									</span>
                            </div>
                            <br />
                        </div>
                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Equipo</label>

                                <div class="col-lg-10"><input type="equipo" placeholder="Equipo" class="form-control"></div>
                                <span class="help-block m-b-none">
                                    Numero de equipo que muestra en su etiqueta
                                </span>
                            </div>

                                                   <div class="form-group">

                                                       <div class="hr-line-dashed"></div>
                                                       <div class="form-group">
                                                           <label class="col-sm-2 control-label">Descripción</label>
                                                           <div class="col-sm-10">
                                                               <textarea rows="5" cols="10" class="form-control" placeholder="Ingrese una descripcion"></textarea>
                                                           </div>
                                                       </div>
                                                       <div class="form-group">
                                                           <label class="col-sm-2 control-label">Foto</label>
                                                           <div class="col-sm-10">
                                                               <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                                   <div class="form-control" data-trigger="fileinput">
                                                                       <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                                       <span class="fileinput-filename"></span>
                                                                   </div>
                                                                   <span class="input-group-addon btn btn-default btn-file">
                                                                       <span class="fileinput-new">Seleccionar archivo / </span>
                                                                       <span class="fileinput-exists">Cambiar</span>
                                                                       <input type="file" name="..." />
                                                                   </span>
                                                                   <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Quitar</a>
                                                               </div>
                                                           </div>



                                                           <div class="form-group">
                                                               <div class="col-lg-offset-2 col-lg-10">
                                                                   <button class="btn btn-sm btn-white" type="submit">Registrar</button>
                                                               </div>
                                                           </div>
</form>
                    </div>
            </div>
        </div>
    </div>
</div>

