<div class="wrapper wrapper-content animated fadeInRight" ng-controller="EquiposCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Levantar tickets</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="text-center m-t-lg">
            <select class="form-control">
                <option>seleccione el tipo de ticket</option>
                <option>Reportar incidencia</option>
                <option>Orden de compra</option>
            </select>
                <div class="ibox-content">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Usuario</label>
                            <div class="col-lg-10">
                                <input type="user" placeholder="Usuario" class="form-control">
                                <span class="help-block m-b-none">
                                    Es el numero telefonico con que te registraste
                                </span>
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sucursal</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-options="sucursal.nombre for sucursal in sucursales track by sucursal.idsucursal" ng-model="sucursal"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Equipo</label>

                            <div class="col-lg-10"><input type="equipo" placeholder="Equipo" class="form-control"></div>
                            <span class="help-block m-b-none">
                                Numero de equipo que muestra en su etiqueta
                            </span>
                        </div>

                        <div class="form-group">

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Descripción</label>
                                <div class="col-sm-10">
                                    <textarea rows="5" cols="10" class="form-control" placeholder="Ingrese una descripcion"></textarea>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white" type="submit">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

