<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Reportar algo
                </h1>
                <small>
                    toca el circulo para reportar algun desperfecto en un equipo del gimnacio 
                    <i class="glyphicon glyphicon-pencil"></i><br><br>
					<a ui-sref="index.minor"><img src='app/Circle_Logo.svg.png' width=450 height=450></a>
                </small>
            </div>
        </div>
    </div>
</div>