    <style>
        #rowInv{
            background:#fff; margin:0;
             padding:0;
        }
       #navInven{
          background-image:url('views/../img/assets/pattern3.jpg');
          width:100%;
          margin-left:0;
       }
       #navTopMenu{background:#000;margin:0;
             padding:0;}
    </style>
 
    <div id="rowInv" class="wrapper col-lg-12 white-bg animated fadeInRight" style="min-height:750px;" data-ng-controller="EquiposCtrl">
        <div class="row" id="navTopMenu"> </div>
            <div class="row" id="navInven">
                <div class="col-lg-3 col-sm-3">
                    <h2 style="color:#fff;"><img src="img/assets/logow.png"> | Inventario</h2>
                </div>
                <div class="col-lg-1 col-sm-1"></div>

                <div class="col-lg-3 col-sm-3" style="padding-top:25px;">
                    <select class="form-control animated fadeInRight" name="sucursal" id="sucursal"
                            ng-options="sucursal.nombre for sucursal in dataSucursal.sucursales track by sucursal.id"
                            ng-model="sucursalMod" ng-change="checkValueBef">
                    </select>
                </div>
                <div class="col-lg-1 col-sm-1"></div>
                <div class="col-lg-3 col-sm-3" style="padding-top:25px;">
                    <select class="form-control animated fadeInRight" name="categoria" id="categoria"
                            ng-options="Categoria.nombre for Categoria in data.Categorias track by Categoria.categoriaID"
                            ng-model="catego" ng-change="update(catego.categoriaID)">
                        <option value="0">Seleccione una categoria</option>
                    </select>
                </div>
            </div>
            <div class="row" data-ng-controller="EquiposCtrl">
                <div class="col-lg-3 col-sm-3" ng-include="'views/subcatSel.html'"></div>
                <div class="col-lg-8 col-sm-8" ui-view="contenInve"></div>
            </div>
        </div>
  


