<div class="wrapper wrapper-content animated fadeInRight">
    
   
        <div class="row">
            <div class="col-lg-2 col-sm-4 text-center" style="background:#fff">
                <h4>Filtrar busqueda</h4>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Fitness</label>
                    <div class="col-lg-8 col-sm-10">
                        <div class="i-checks"><label> <input type="checkbox" value=""> <i></i></label></div>
                    </div>
                    <label class="col-sm-1 control-label">Cardio</label>
                    <div class="col-lg-8 col-sm-10">
                        <div class="i-checks"><label> <input type="checkbox" value=""> <i></i></label></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-sm-6" style="background:">

                <div class="col-lg-4 col-sm-10">
                    <div class="ibox">
                        <div class="ibox-content product-box"><div class="product-imitation">
                           <img src="../img/Equipos/eq1.jpg" style="width:100%;height:230px;">
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">Categoria</small>
                                <a href="#" class="product-name"> Producto</a>

                                <div class="small m-t-xs">
                                    <p>
                                        Marca:<strong>XDXD</strong><br /><br />
                                        lslskdkddmd jsjsjs sjsjs snadinadnajksd askjdnasjdkj 
                                    </p>  
                                   <table class="table table-striped">
                                      <thead>
                                         <tr>
                                           <th data-toggle="true">Sucursal</th>
                                           <th data-hide="phone">Cantidad</th>
                                         </tr>
                                      </thead>
                                      <tbody>
                                         <tr>
                                            <td>Panamericana</td>
                                            <td>3</td>
                                         </tr>
                                      </tbody>
                                    </table>
                                </div>
                                     <div class="m-t text-righ">
                                          <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                         </div>
                                       </div>
                                    </div>
                                </div>
                        </div>


                
                <div class="col-lg-4 col-sm-10">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <img src="../img/Equipos/eq2.jpg" style="width:100%;height:230px;">
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">Categoria</small>
                                <a href="#" class="product-name"> Producto</a>

                                <div class="small m-t-xs">
                                    <p>ksksksksks sksksksksks sksksksk sksksksks ksksks ksksk</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Sucursal</th>
                                                <th data-hide="phone">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Panamericana</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m-t text-righ">
                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-10">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <img src="../img/Equipos/eq3.jpg" style="width:100%;height:230px;">
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">Categoria</small>
                                <a href="#" class="product-name"> Producto</a>

                                <div class="small m-t-xs">
                                    <p>ksksksksks sksksksksks sksksksk sksksksks ksksks ksksk</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Sucursal</th>
                                                <th data-hide="phone">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Panamericana</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m-t text-righ">
                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-sm-10">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <img src="../img/Equipos/eq4.jpg" style="width:100%;height:230px;">
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">Categoria</small>
                                <a href="#" class="product-name"> Producto</a>

                                <div class="small m-t-xs">
                                    <p>ksksksksks sksksksksks sksksksk sksksksks ksksks ksksk</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Sucursal</th>
                                                <th data-hide="phone">Cantidad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Panamericana</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m-t text-righ">
                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
       
    
</div>
