    <style>
        #rowInv{
            background:#fff; margin:0;
             padding:0;
        }
       #navInven{
          background-image:url('views/../img/assets/pattern3.jpg');
          width:100%;
          margin-left:0;
       }
    </style>
 
    <div  id="rowInv" class="wrapper col-lg-12 white-bg animated fadeInRight" style="min-height:750px;" data-ng-controller="EquiposCtrl">
        <div class="row" id="navInven">
            <div class="form-group">
                <label class="col-sm-2 control-label">Subcategoria</label>
                <div class="col-sm-10">
                    <select class="form-control" name="SubcategoriaEquipo" id="SubcategoriaEquipo"
                            ng-options="categoria.nombre for categoria in data.Categorias track by categoria.categoriaID"
                            ng-model="data.catego"></select>
                </div>
            </div>
            
            <a ui-sref="equipos.agregarequipo">volver</a>
        </div>
       
        <div class="row {{$state.current.name}}" >
            <div class="col-lg-2 col-sm-4 text-center" ng-include="'views/common/nav_categories.html'">
            </div>
            <div class="col-lg-10 col-sm-8" ui-view>
            </div>
        </div>
    </div>
  


