
<h4>Filtrar busqueda</h4>
<hr>

<ul class="nav " id="" ng-class="{in: $state.includes('equipos')}">
    <li ui-sref-active="active"><a ui-sref="equipos.cardio" style="color:#000">{{ 'Cadiovascular' | translate }} </a></li>
    <li ui-sref-active="active"><a ui-sref="equipos.inven1" style="color:#000">{{ 'Maquinas con peso integrado' | translate }} </a></li>
    <li ui-sref-active="active"><a ui-sref="equipos.inven1" style="color:#000">{{ 'Bancos olimpicos' | translate }} </a></li>
    <li ui-sref-active="active"><a ui-sref="equipos.inven1" style="color:#000">{{ 'Plate loaded' | translate }} </a></li>
    <li ui-sref-active="active"><a ui-sref="equipos.inven1" style="color:#000">{{ 'Multiestaciones' | translate }} </a></li>
    <li ui-sref-active="active"><a ui-sref="equipos.inven1" style="color:#000">{{ 'Peso libre' | translate }} </a></li>
</ul>
   
